@use '_breakpoints.scss' as *;
*{
    --spacing-small: 4px;
    --spacing-normal: 8px;
    --spacing-large: 10px;
}

@include for-tablet-portrait-up{
    *{
        --spacing-small: 5px;
        --spacing-normal: 10px;
        --spacing-large: 20px;
    } 
}