@use './breakpoints' as *;

*{
    --font-small: 12px;
    --font-normal: 16px;
    --font-large: 22px;
}

@include for-tablet-portrait-up{
    *{
        --font-small: 14px;
        --font-normal: 17px;
        --font-large: 25px;
    }   
}

@include for-desktop-up{
    *{
        --font-small: 17px;
        --font-normal: 20px;
        --font-large: 28px;
    }
}

.heading1{
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 700;
    font-size: var(--font-large);
    line-height: 32px;

    text-align: center;
    letter-spacing: -0.05em;
}

.heading2{
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-normal);
    line-height: 23px;
    letter-spacing: 0.15em;
}

.heading3{
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    font-weight: 300;
    font-size: var(--font-small);
    line-height: 23px;
    letter-spacing: 0.25em;
}

.paragraph{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: var(--font-small);
    line-height: 150%;
    
    letter-spacing: 0.1em;
}
